* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  margin: 0 auto;
}

.container {
  width: 400px;
  height: 640px;
  margin: auto;
  /* margin-top: 300px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.display {
  height: 70px;
  grid-column: span 4;
}

.input {
  background: none;
  width: 100px;
  height: 100px;
}

.num0 {
  grid-column: span 2;
  width: 200px;
}