* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  margin: 0 auto;
}

.container {
  width: 400px;
  height: 640px;
  margin: auto;
  /* margin-top: 200px; */
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, auto) repeat(5, 100px);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  /* overflow: hidden; */
}

.display {
  height: 50px;
  grid-column: span 4;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
}

.display2 {
  align-items: end;
  padding-bottom: 5px;
}

.display1 {
  border-bottom: 2px solid #888;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.input {
  background: none;
  width: 90px;
  height: 90px;
  justify-self: center;
  align-self: center;
  background-color: black;
  border: none;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  box-shadow: inset -1px -1px 3px #fff, inset -2px -2px 40px #fff, inset 5px 5px 25px #888, 2px 3px 5px #888;
  font-size: 22px;
  font-weight: bold;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.num0 {
  grid-column: span 2;
  width: 190px;
  box-shadow: inset -1px -0px 3px #fff, inset -2px -1px 40px #fff, inset 5px 1px 25px #888, 2px 3px 5px #888;
}
